.card {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)) !important ;
  grid-gap: 10px !important;
  grid-auto-rows: minmax(100px, auto) !important;
  grid-auto-columns: minmax(50px, auto) !important;
  border: none;
  margin-top: 50px;
}

.card .css-1ri6ub7-MuiPaper-root-MuiCard-root {
  width: 25rem !important;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: none !important;
  margin-left: 2rem !important;
  cursor: pointer;
}

.card .css-1ri6ub7-MuiPaper-root-MuiCard-root:hover {
  /* box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0, 0, 0)!important; */
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 2px 10px 0 rgb(0, 0, 0) !important;
}

.editclass {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  visibility: hidden;
  margin-bottom: -36px;
  margin-right: -17px;
}

.css-1ri6ub7-MuiPaper-root-MuiCard-root:hover .editclass {
  visibility: visible;
}

.D-image {
  width: 10rem;
}

.boldtext:hover {
  color: black;
}

.addpro {
  margin-left: 70rem;
  margin-top: 40px;
}

.description {
  display: flex;
}

.Finfo {
  margin-left: 2rem;
}
.css-1fokv7h {
  border-radius: 25px !important;
}
.title {
  font-family: fantasy;
  font-size: 18px;
}
