.signup-main {
  background-color: black;
}

.signup-main {
  background-image: url(../../Images/3.avif);
  width: 100%;
  height: 110vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

.css-binzgt {
  background-color: #ffffff8a;
  border-radius: 20px;
  padding: 10px;
  margin-top: 130px !important;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0, 0, 0);
  width: 30rem;
}

.css-1vhaqj4-MuiButtonBase-root-MuiButton-root {
  background-color: black !important;
}

.Signupbutton {
  font-family: serif; 
  font-weight: bold;
  font-size: 2.5rem;    
}


.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    color: black !important ;
}