 

.signup-main {      
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
   
}

.css-binzgt {
  background-color: #ffffff8a;
  border-radius: 20px;
  padding: 10px;
  margin-top: 100px !important; 
  width: 30rem;
  margin-left: 5rem;
}

.css-1vhaqj4-MuiButtonBase-root-MuiButton-root {
  background-color: black !important;
}

.Signupbutton {
  font-family: serif; 
  font-weight: bold;
  font-size: 2.5rem;    
}


.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
    color: black !important ;
}